.pre {
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

.pre::before {
    transform: translateZ(-50px);
}

.pre::after {
    transform: translateZ(-50px);
}
